$border:#9e9e9e;

body {
    margin: 0 0;
}

i {
    font-style: normal;
}

.main {
    width: 593px;
    margin: 20px 50px;
}

.screen {
    display: flex;
}

.side-bar {
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    border-right: 1px solid $border;
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 20px 20px;
    font-size: 20px;

    &>div {
        margin-bottom: 18px;
    }

    i {
        display: inline-block;
        width: 90px;
        text-align-last: right;
    }
}

.operate {
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    border-bottom: 1px solid $border;
    padding: 30px;

    button {
        border: none;
        outline: none;
        color: #fff;
        font-size: 20px;
        padding: 8px 25px;
        border-radius: 5px;
        background-image: linear-gradient(#88eded, #0b1a17);
        text-shadow: 1px 1px 0 #23cab0;
        box-shadow: 0 4px 1px #233d33, 0 5px 10px 0px #9e9e9e;
        cursor: pointer;

        &:active {
            transform: translateY(2px);
            box-shadow: 0 2px 1px #233d33, 0 3px 6px 0px #9e9e9e;
        }
    }
}

.panel {
    width: 400px;
    height: 400px;
    position: relative;
    border: 1px solid $border;
    // cursor: none;
}


.mole {
    position: absolute;
    width: 50px;
    height: 60px;
    overflow: hidden;

    &>* {
        display: block;
        width: 100%;
        height: 60px;
        transform: translateY(60px);
        transition: transform 0.3s ease 0.1s;
    }
}

.hammer {
    position: absolute;
    width: 30px;
    height: 50px;
    background-color: #ffca28;
    border-radius: 15px;
    transform: rotate(30deg);
    z-index: 9;
    display: none;

    &.ding {
        display: block;
        animation: knock 480ms ease 16ms;
        animation-fill-mode: forwards;
    }

    &::after {
        content: '';
        position: absolute;
        width: 64px;
        height: 10px;
        background-color: #ffca28;
        left: 10px;
        top: 18px;
        border-radius: 10px;
    }
}

@keyframes knock {
    0% {
        transform: rotate(30deg);
    }

    10% {
        transform: translateY(10px);
    }

    20% {
        display: none;
    }

    100% {
        display: none;
    }
}

.golden>* {
    background-color: #ffeb3b;
}

.thin>* {
    background-color: #4fc3f7;
}

.normal>* {
    background-color: #66bb6a;
}

.fat>* {
    background-color: #f44336;
}

.active {

    &>* {
        transform: translateY(0px);
    }
}

.inactive {
    animation: swing 0.2s ease;

    &>*::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 3px;
        left: 50%;
        background-color: #fff;
        transform: translate(-50%, 0) rotate(45deg);
        clip-path: polygon(7px 0, 13px 0, 13px 7px, 20px 7px, 20px 13px, 13px 13px, 13px 20px, 7px 20px, 7px 13px, 0 13px, 0 7px, 7px 7px);
        z-index: 2;
    }
}

@keyframes swing {

    0%,
    50%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(30deg);
    }

    75% {
        transform: rotate(-30deg);
    }
}

[show] {
    display: block;
}
